.barra{
    background-color: rgb(33, 63, 90);
    display: grid;
    grid-template-columns: 7% 7% 7% 55% 19%;
    box-shadow: 2px 2px 2px 1px rgba(238, 234, 234, 0.2);
}

.titulo{
    text-align: center;
}

.grid-boton{
    margin-right: 3px;
    margin-left: 20px;
    text-align: left;
    align-self: center;
    text-size-adjust: auto;
}

.grid-carrito {
align-self: center;
text-align: right;
}